.background-image
  = image_tag 'lake.jpg', class: 'img img-responsive'
  .overlay
.container-fluid
  .row
    .col-md-7.col-xs-12
      .caption
        %h1 GORDON YIP
        %h1 WEB DEVELOPER
        %p.hidden-xs.hidden-sm SHIFTING FROM AVIATION, A NOT TOO YOUNG PADAWAN. A DREAMER DREAMS SHE NEVER DIE, AND DON'T BELIEVE THAT THEY'RE GONNA GET AWAY FROM THEIR SUMMER. 
    .col-md-5.col-xs-12.no-gutter
      .feature-image
        .circle
          = image_tag 'head01.jpg'