.background-image
  = image_tag 'lake.jpg', class: 'img img-responsive'
  .overlay
.container-fluid
  .row
    .col-md-7.col-xs-12
      .caption
        %h1 GORDON YIP
        %h1 WEB DEVELOPER
        %p.hidden-xs Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus elementum et diam sed tincidunt. Duis volutpat sit amet est eget mollis. Aenean lobortis et metus id pharetra. Suspendisse quis odio laoreet, tincidunt odio eget, tincidunt nibh. 
    .col-md-5.col-xs-12.no-gutter
      .feature-image
        .circle
          = image_tag 'head01.jpg'